<section class="section section-popular scrollspy" id="booking">
  <div class="container">
    <div class="row">
      <p class="center">If you book with us directly, it will help us on commissions to booking.com or priceline.com. But you are still welcome to use either services. Thank you in advance.</p>
      <div class="col s12 m6 center">
        <a href="{{ site.booking }}" target="_blank" class="btn btn-medium grey darken-2">
          <i class="material-icons left">send</i>Booking.com
        </a>
      </div>
      <div class="col s12 m6 center">
        <a href="{{ site.priceline }}" target="_blank" class="btn btn-medium grey darken-2">
          <i class="material-icons left">send</i>Priceline.com
        </a>
      </div>
    </div>
  </div>
</section>

