      <!-- contact email info -->
      <div class="col s12 m6">
        <div class="card-panel grey lighten-3">
          <h5>When would you like to visit us ...</h5>
          <form onsubmit="sendGreenhouse(event)">
            {% for item in site.data.contact %}
            <div class="input-field">
              <i class="material-icons prefix orange-text text-darken-2">{{ item.icon }}</i>
              {%- if item.class %}
              <input type="{{ item.type }}" class="{{ item.class }}" id="{{ item.id }}">
              {%- else %}
              <input type="{{ item.type }}" id="{{ item.id }}" {{ item.req }}>
              {%- endif %}
              <label for="{{ item.id }}">{{ item.label }}</label>
            </div>
            {% endfor %}
            <div class="input-field">
              <i class="material-icons prefix orange-text text-darken-2">message</i>
              <textarea class="materialize-textarea" id="message"></textarea>
              <label for="message">Your Message</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
            <div id="alert-field" class="alert hidden">
              <p>Uh oh! Something went wrong!</p>
            </div>
            <!-- <input type="submit" value="submit" class="orange darken-3 btn"> -->
          </form>
        </div>
      </div>
