<!-- Section: gallery -->
<section class="section section-gallery scrollspy" id="gallery">
  <div class="container">
    <h4 class="center">
      <i class="fa fa-camera-retro heading-icon" aria-hidden="true"></i>
      <span class="orange-text text-darken-3">Photo</span> Gallery
    </h4>
    <div class="row">
      {% for photo in site.data.gallery %}
      <div class="col s12 m3">
        <a href="assets/img/gallery/{{ photo.img}}" data-gallery="g1" class="glightbox">
          <img src="assets/img/gallery/{{ photo.img }}" alt="" class="responsive-img">
        </a>
      </div>
      {% assign remainder = forloop.index | modulo: 4 %}
      {% if remainder == 0 %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script> -->
<script type="text/javascript" src="assets/js/glightbox.min.js"></script>
<script type="text/javascript">
  // Initialize glightbox
  const lightbox = GLightbox({
    touchNavigation: true,
    loop: true,
    autoplayVideos: true
  });
</script>
