<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript" src="assets/js/jordan.js"></script>
<script type="text/javascript" src="assets/js/float-panel.js"></script>

<script>
  $(document).ready(function () {
    // Init Side Nav
    $('.button-collapse').sideNav();
    
    // Init Slider
    $('.slider').slider({
      indicators: false,
      height: 500,
      transition: 500,
      interval: 6000
    });
    
    // Autocomplete
    $('.autocomplete').autocomplete({
      data:{
        "Aruba": null,
        "Busra": null,
        "Cancun Mexico": null,
        "Hawaii": null,
        "Florida": null,
        "California": null,
        "Jamaica": null,
        "Europe": null,
        "The Bahamas": null
      }
    });

    // Init Datepicker
    $('.datepicker').datepicker();

    // Init Scrollspy
    $('.scrollspy').scrollSpy();
  });
</script>
