<!-- begin navbar -->
<section>
  <div id="backtop">&#9650;</div>
  <div class="navbar-fixed" style="position:absolute;" id="home">
    <nav class="custom-nav">
      <div class="nav-wrapper">

        <!-- Logo & Title -->
        <a href="#home" class="custom-logo" style="display: inline;">
          <img src="assets/img/logo-2.png" alt="" class="hide-on-small-only">
          <span style="display: inline-block; vertical-align: middle;">{{ site.title }}</span>
        </a>

        <!-- Mobile Hamburger Menu -->
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

        <!-- Nav Links -->
        <ul class="right hide-on-med-and-down">
          {% for nav in site.data.nav %}
          <li><a href="{{ nav.link }}" style="text-transform: uppercase;">{{ nav.title }}</a></li>
          {% endfor %}
          <a href="#contact" class="btn btn-white color-primary">Book Now</a>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Mobile Side-Navbar -->
  <div class="sidenav" id="mobile-nav">
    
    <a href="#home" class="custom-logo" style="display: inline;">
      <img src="assets/img/logo-2.png" alt="">
      <span style="display: inline-block; vertical-align: middle;" class="color-primary">{{ site.title }}</span>
      <!-- <div style="display: inline-block; vertical-align: middle;">{{ site.title }}</div> -->
    </a>

    <ul>
      {% for nav in site.data.nav %}
      <li><a href={{ nav.link }} class="sidenav-close" style="text-transform: uppercase;">{{ nav.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>

<script type="text/javascript">
  // Sidenav script
  $(document).ready(function () {
    $('.sidenav').sidenav();
  });
</script>