<!-- begin navbar -->
<section>
  <div id="backtop">&#9650;</div>
  <div class="navbar-fixed">
    <nav class="orange darken-3">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#home" class="brand-logo">{{ site.title }}</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            {% for nav in site.data.nav %}
            <li><a href={{ nav.link }}>{{ nav.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>

<!-- navbar mobile -->
  <ul class="sidenav" id="mobile-nav">
    {% for nav in site.data.nav %}
    <li><a href={{ nav.link }}>{{ nav.title }}</a></li>
    {% endfor %}
  </ul>
</section>
<!-- end navbar -->

<script type="text/javascript">
  // Sidenav script
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
