<!-- Section: slider -->
<section class="slider scrollspy">
  <ul class="slides">
    {% for slide in site.data.slides %}
    <li>
      <img src="assets/img/{{ slide.photo }}" alt="">
      <div class="caption {{ slide.motion }}">
        <h3>{{ slide.title }}</h3>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">{{ slide.details }}</h5>
        <a href="{{ slide.link }}" class="btn btn-large orange darken-3 btn-floating pulse">{{ slide.link-text }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<script type="text/javascript">
  // Scrollspy & Slider script
  $(document).ready(function(){
    $('.scrollspy').scrollSpy();

    $('.slider').slider({
      indicators: true,
      height: 500,
      transition: 500,
      interval: 4000
    });
  });
</script>
