<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body id="home" class="scrollspy">

    {%- include navbar.html -%}
    {%- include slider.html -%}
    {%- include search.html -%}
    {%- include icon-boxes.html -%}
    {%- include popular.html -%}
    {%- include follow.html -%}
    {%- include gallery.html -%}
    {%- include contact.html -%}
    {%- include booking.html -%}
    {%- include map.html -%}

    {%- include footer.html -%}

  </body>

</html>
